# requirements.txt
# --- Web ---
Flask==3.0.3
qrcode==7.4.2
Pillow==10.3.0
httpx==0.25.2
fastapi==0.111.0

# --- DB / конфиги ---
psycopg2-binary==2.9.9
python-dotenv==1.0.1

# --- Telegram bot ---
python-telegram-bot==20.7         # тянет httpx>=0.25.2 сам

# --- Разное ---
pyzbar==0.1.9
schedule==1.2.0
gunicorn==23.0.0